<% provide(:title, "About") %>
<% provide(:selected, []) %>
<% content_for :head do %>
<% end %>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="big-text">
                Sparkey
            </h2>
            <p>
                Our personality is derived from how people perceive the things we do and how we do them; the things we say and how we say them. On Sparkey, users provide feedback to each other by perceiving the vibe a post is giving off--whether it is eerie, noble, depressing, uplifing, etc--and over time, the post starts to accumulate a sense of personality. Each post's bank of vibes will be channeled to the author's profile page, where a conglomeration of vibes will be used to reflect what that user's personality is and what that user is known for.
            </p>
            <h2 class="big-text">
                Roulette
            </h2>
            <p>
                Sparkey is focused on giving everyone a fair chance at being heard and this is achieved through the Roulette. Users may load their Roulette with preconfigured options and Sparkey will fetch results that match the search parameters specified, with the caveat that Sparkey will always favor posts that have less views.
            </p>
            <p>
                The Roulette can be set up to return posts that are of the following types: images, text documents, and videos. Additionally, the Roulette can be told to only fetch posts that have the specified vibes associated with them. For example, if Mary only wanted the Roulette to load horror stories, she would set her Roulette configuration to be "text documents" and with the specified vibes of "scary", "horror", "creepy", etc. The user is then returned a set of posts that match those criterias and the user looks at each post individually, perceiving the vibes of the post by typing one word descriptions of what the post made them feel into the input box and making comments if the user is inclined. The user may abort the set at anytime and reconfigure the Roulette for another round.
            </p>
            <h2 class="big-text">
                Browsing
            </h2>
            <p>
                Each post can also be Sparked, which is Sparkey's version of the "Like" button on social media. This comes in handy when the user wants to switch from viewing seemingly random posts to browsing popular posts ranked by the number of Sparks a post has.
            </p>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
</div>
