<% provide(:title, "Roulette - Search") %>
<% provide(:selected, ["roulette"]) %>
<% content_for :head do %>
<% end %>


<style>
    .col-md-5 {
        float: none;
        margin: 0 auto;
    }
    
    #checkboxes{
        width:100%;
		table-layout:fixed;
	}
	input[type=checkbox], select{
		outline: 3px solid #4F2601;
	}
	
	form{
		font-weight:bold;
	}
    input {
        border-radius: 0;
    }
</style>

<div class="container">
    <div class="clearer">&nbsp;</div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-container">
                <h3>
                    Roulette
                </h3>
                <%= form_tag({controller: "roulettes", action: "results"}, method: "get") do %>
                    <%= text_area_tag(:vibes, "", size: "24x6", :placeholder => "Enter vibes seperated by commas...") %>    
                    </br></br>
                    <%= submit_tag("Go!") %>
                    </br>
                    </br>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="clearer">&nbsp;</div>
</div>
