<% provide(:title, "Submit") %>
<% provide(:selected, ["submit"]) %>
<% content_for :head do %>
<% end %>


<style>
    .col-md-5 {
        float: none;
        margin: 0 auto;
    }
    input[type=file]::before {
        content: "Drag a file in here or";
        top: 4rem;
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
    }
    input[type=file] {
        padding-left: 15%;
        height: auto;
        padding-bottom: 6rem;
    }
</style>
    <div class="container">
        <div class="clearer">&nbsp;</div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-container">
                    <h3>
                        Submit
                    </h3>
                    <form>
                        <input class="long" type="text" placeholder='title'/>
                        <div class="clearer">&nbsp;</div>
                        <input  class="long" type="file"  accept="image/*|video/*|txt">
                        <div class="clearer">&nbsp;</div>
                        <textarea class="long" placeholder="Write a description..."></textarea>
                        <div class="clearer">&nbsp;</div>
                        <input type="submit" value='Submit' onsubmit="redirect()"/>
                        <div class="clearer">&nbsp;</div>
                    <form>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="clearer">&nbsp;</div>
    </div>
