<h1>HERE ARE THE RESULTS</h1>

<br><table>
  <tr>Checkbox values</tr>
 
    <tr>
      	<td><%= @text_val %></td>
      	<td><%= @images_val %></td>
      	<td><%= @video_val %></td>
    </tr>
    <tr>
    	<td><%= @vibes_list %></td>
    </tr>
</table>