<!DOCTYPE HTML>
<html>
    <header>
        <div id="header">
            <%= link_to(@root_path) do %>
                <div id="logo">
                    <%= image_tag "Sparkey Logo Orange.png" %>
                    Spar<span class="red">k</span>ey
                </div>
            <% end %>
        </div>
	</header>

<body>
	<h1>Submit</h1>

	<p>
	  <strong>Title:</strong>
	  <%= @uploaded_io.original_filename %>
	</p>

</body>
    <footer>
    </footer>
</html>