
<div id="poem">
    Get the unseen seen.<br/><br/><br/>
    Discover new talent (such as yourself).<br/><br/><br/>
    Evolve your style.<br/><br/><br/>
</div>
<div>
<form class="formwrapper" id="indexformwrapper" action="profile/profile.html">
<span class="formtitle" id="indexformtitle">Sign Up!</span>
<br/><br/>
<textarea class="formtextinput" rows="1" placeholder="E-mail"></textarea>
<br/><br/>
<textarea class="formtextinput" rows="1" placeholder="Username"></textarea>
<br/><br/>
<textarea class="formtextinput" rows="1" placeholder="Password"></textarea>
<br/><br/>
<textarea class="formtextinput" rows="1" placeholder="Confirm Password"></textarea>
<br/><br/><br/><br/>
<input type="submit" value="Sign Up!" id="submitbutton">
</form>
</div>