*
{
	font-family: 'Century Gothic', sans-serif !important;
}

html
{
    background: #FEF1B5;
    color: #C5B9C7;
}

/* Navbar */
#header
{
	font-family: 'Century Gothic', sans-serif;
    background: rgba(159, 112, 58, 0.5);
    height: 4rem;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
    padding: 10px;
}

#nav-button-wrapper 
{
    position: absolute;
    top: 0;
    left: 50%;
}

#nav-button 
{
    position: relative;
    left: -50%;
}

#nav-button div 
{
    float: left;
    background: rgba(159, 112, 58, 0.5);
    padding: .7rem;
}

#roulette 
{
	border-radius: 0px 0px 0px 15px;
}

#submit 
{
	border-radius: 0px 0px 15px 0px;
}

#logo 
{
    float: left;
    font-size: 3rem;
	background-image:url("../images/Sparkey Logo Orange.png");
	background-size:3rem;
	background-repeat:no-repeat;
	padding-left:3rem;
}

#userinfo 
{
    position: absolute;
    right: 0;
    top: 0;
    padding: .7rem;
}

#userinfo div 
{
    float: left;
    padding: 0 .5rem 0 .5rem;
    font-size: 1rem;
}

#username 
{
	color:#953246;
	font-weight: bold;
    border-right: 2px solid #000000;
}

#logout
{
	color:#953246;
	font-weight: bold;
}

.red
{
	color:#953246;
}

body
{
	color:#333041;
}