.formwrapper
{
	background: rgba(199, 95, 102, 0.5);
	border-style:dashed;
	border-width:medium;
	border-color:#953246;
	border-radius:15px;
	max-width:33%;
	margin:2% auto;
	padding:2%;
}

.formtitle
{
	display:block;
	text-align:center;
	font-weight:bold;
	font-size:2rem;
}

.formtextinput
{
	width:99%;
}

#submitbutton
{
	display:block;
	margin:auto;
}

