<header>
    <div id="header">
        <%= link_to(@root_path) do %>
            <div id="logo">
                <%= image_tag "Sparkey Logo Orange.png" %>
                Spar<span class="red">k</span>ey
            </div>
        <% end %>
    </div>
    <div id="userinfo">
        <a href='../profile/user'>
            <div id="logout">
                Login
            </div>
        </a>
    </div>
</header>
<body>
    <div id="poem">
        Get the unseen seen.<br/><br/><br/>
        Discover new talent (such as yourself).<br/><br/><br/>
        Evolve your style.<br/><br/><br/>
    </div>
    <div>
   <form class="formwrapper" id="indexformwrapper" action='profile/user'>
    <span class="formtitle" id="indexformtitle">Sign Up!</span>
    <br/><br/>
    <textarea class="formtextinput" rows="1" placeholder="E-mail"></textarea>
    <br/><br/>
    <textarea class="formtextinput" rows="1" placeholder="Username"></textarea>
    <br/><br/>
    <textarea class="formtextinput" rows="1" placeholder="Password"></textarea>
    <br/><br/>
    <textarea class="formtextinput" rows="1" placeholder="Confirm Password"></textarea>
    <br/><br/><br/><br/>
    <input type="submit" value="Sign Up!" id="submitbutton">
   </form>
   </div>
</body>