<% if @roulette %>
    <% provide(:title, "Roulette") %>
    <% provide(:selected, ["roulette"]) %>
<% else %>
    <% provide(:title, "Browse") %>
    <% provide(:selected, ["browse"]) %>
<% end %>

<% content_for :head do %>
<% end %>

<style>
    .col-md-6 {
        margin: auto;
        text-align: center;
    }
</style>

<%
    @over_three_vibes_found = false
    @final_results_list.each do |post, vibes|
        if vibes.size >= 3
            @over_three_vibes_found = true
        end
        break
    end
%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h3 class="big-text black">
                <% if @roulette %>
                    Roulette Results
                <% else %>
                    Popular
                <% end %>
            </h3>
            <% @final_results_list.each do |post, vibes| %>
            <div class="browse-item">
                <%= link_to posts_path + "/" + post[:id].to_s do %>
                    <%= image_tag(post.image_path) %>
                    <div class="item-info">
                        <table class="item-table">
                            <tr>
                                <td class="icon"><span class="glyphicon glyphicon-picture"></span></td>
                                <% if @over_three_vibes_found == true %>
                                    <% for i in (vibes.size - 3)..(vibes.size - 1) %>
                                        <td><%= vibes[i][:vibe] %></td>
                                <% else 
                                        for i in 0..2 %>
                                        <td><%= vibes[i][:vibe] %></td>
                                    <%  end
                                    end %>
                            </tr>
                        </table>
                    </div>
                <% end %> 
            </div>
            <% end %>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
