#profile
{
	margin-top:30px;
	margin-left:20%;
	width:60%;
}

.page
{
	width:50%;
	height:auto;
	text-align:center;
	position:relative;
}

.pageimage
{
	max-width:100%;
	z-index:10;
	vertical-align:middle;
}

.pagetext
{
	z-index:100;
	position:absolute;
	width:95%;
	height:85%;
	top:2em;
}

.pagetitle
{
	font-size:2em;
	font-weight:bold;
}

#leftpage
{
	float:left;
	background-size: 100%;
}

#leftpagetext
{
	right:0;
}

#rightpage
{
	float:right;
}

#profilepic
{
	max-width:30%;
	max-height:30%;
}

#activity, #activity td, #activity th
{
	margin:0 auto;
	border: 1px solid black;
}

#activity td, #activity th
{
	padding:5px;
}

input[type=file]::before 
{
    content: "Upload profile picture (.PNG):";
    top: 0.3rem;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}

input[type=file] 
{
    padding-left: 15%;
    width: 80%;
    height: 6rem;
    padding-top: 2.3rem;
}

input[type=text] 
{
    width: 80% !important;
}

#status {
	word-wrap: break-word;
	text-wrap: wrap;
	max-height: 4rem;
	overflow-y: scroll;
	width: 80%;
	text-align: center;
	margin: auto;
	margin-bottom: 0.5rem;
}