// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#userstatus
{
    float:left;
    width:30%;
    margin-top:2%;
}

#usertable
{
    text-align:center;
    margin:auto;
}

#usertable td
{
    padding:20px;
}

#avatarimage
{
    width:100px;
    height:100px;
}

#name
{
    font-size:3rem;
    font-weight:bold;
}

#userquote
{
    border-radius:20px;
    border-style:dotted;
    border-width:thin;
    padding:10px;
}

#stats
{
    margin:auto;
}

#stats td
{
    background:rgba(159, 112, 58, 0.5);
    border-style:solid;
    border-width:thin;
    border-color:#FEF1B5;
    padding:5px;
}

.nonheaderrow th
{
    text-align:left;
    
    padding-right:5px;
}

#uservibes
{
    margin-left:30%;
    margin-top:2%;
    text-align:center;
    padding:20px;
}

#uservibes h1
{
    font-size:2rem;
    font-weight:bold;
}

#vibecloud
{
    width:75%;
    display: inline-block;
    overflow: visible;
}

